@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.node-adaptive-case {
  position: relative;
}

.adaptive_case_container {
  top: 0;
  right: 0;
  border: 3px solid gray;
  padding: 0;
  border-radius: 5px;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  background: #eee;
}

.adaptive_case_container table, .adaptive_case_container table tbody {
  border: 0;
  background: transparent !important;
  width: 100%;
  height: 100%;
  margin: 0;
}

.adaptive_case_container table tr {
  background: transparent !important;
}

.adaptive_case_container table td {
  text-align: center;
  line-height: 1.7em;
}

#adaptive_case_timer img {
  height: 16px;
}


.adaptive_case_progress_bar span {
  vertical-align: middle;
}

.adaptive_case_time {
  text-align: right;
  cursor: help;
}

.adaptive_case_status {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  text-align: center;
}

.adaptive_case_timer_almost_expired {
  color: orange;
}

.adaptive_case_timer_expired {
  color: red;
}

.adaptive_case_green {
  background: yellowgreen;
}

.adaptive_case_orange {
  background: orange;
}

.adaptive_case_red {
  background: orangered;
}

.cq-feedback-wrapper .alert-box.success {
  background: white;
  color: gray;
  border: 0;
  font-family: 'Press Start 2P', cursive;
}

.adaptive_case_score {
  font-family: 'Poppins';
  font-size: 1.3em;
  padding: 0.5em;
  border: gray 4px solid;
  border-radius: 5px;
}

.adaptive_case_score table, .adaptive_case_score tbody {
  border: 0;
  width: 100%;
}

.adaptive_case_final_price {
  float: left;
  height: 100%;
  display: block;
}

.adaptive_case_score.adaptive_case_fastest {
  border: #F8B616 4px solid;
}

.adaptive_case_score .adaptive_case_fastest_message {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.9em;
}

.posted {
  display: none;
}

.adaptive_case_done_green {
  color: greenyellow;
}

.adaptive_case_done_orange {
  color: orange;
}

.adaptive_case_done_red {
  color: red;
}

.adaptive_case_answer_message {
  text-align: center;
  margin: 1em;
}

.adaptive_case_answer_message img {
  display: inline-block;
  margin: 0.5em;
}

img.adaptive_case_star_1 {
  animation: createBox 0.5s 1 normal forwards;
}

img.adaptive_case_star_2 {
  animation: createBox 0.5s 1 0.5s normal forwards;
  transform: scale(0);
}

img.adaptive_case_star_3 {
  animation: createBox 0.5s 1 1s normal forwards;
  transform: scale(0);
}

.cq-feedback-wrapper form-wrapper .alert-box.success {
  display: none;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.adaptive_case_badge_container div.adaptive_case_badge_wrapper {
  display: inline-block;
  position: relative;
  vertical-align: top;
  cursor: help;
  font-size: 10px;
  text-align: center;
  margin: -2px;
  font-family: sans-serif;
  width: 40px;
  /*! height: 40px; */

}

.adaptive_case_badge_container div.adaptive_case_badge {
  width: 32px;
  height: 32px;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  left: 0px;
  top: -26px;
}

.adaptive_case_badge_container .adaptive_case_badge img {
  width: 32px !important;
  height: 32px !important;
}

div.adaptive_case_badge_unfinished {
  filter: grayscale(100%);
}

div.adaptive_case_badge_active .adaptive_case_badge_icon_border {
  box-shadow: gray 2px 2px 2px;
  border-color: yellow;
}

div.adaptive_case_badge_active .adaptive_case_badge_progress {
  box-shadow: gray 2px 2px 2px;
}

#adaptive_case_badges {
  display: inline-block;
  padding: 0.5625em 0.625em;
  height: auto;
  text-align: center;
}

div.adaptive_case_navigation_wrapper, div.adaptive_case_progress_container {
  border: 1px solid gray;
  padding: 0.5em;
  box-shadow: #eee 2px 2px 5px;
  border-radius: 3px;
  margin-bottom: 3em;
}

div.adaptive_case_badge_progress {
  display: inline-block;
  height: 0.5em;
  background: gray;
  margin: 1px;
  box-sizing: border-box;
}

div.adaptive_case_badge_progress_done {
  background: green;
}

div.adaptive_case_badge_progress_fail {
  background: red;
}

div.adaptive_case_badge_icon_border {
  border: 2px solid white;
  height: 24px;
  width: 24px;
  position: relative;
  top: 2px;
  left: 8px;
  background: gray;
}

div.adaptive_case_badge_title {
  display: none;
}

div.adaptive_case_badge_progress_wrapper {
  position: relative;
  width: 24px;
  top: -30px;
  left: 8px;
  height: 10px;
}


div.adaptive_case_progress_container {
  font-size: 0.8em;
  border: 1px solid #eee;
  padding: 0;
}

div.adaptive_case_progress_container h3 {
  background: #eee;
  margin: 0;
  font-size: 1.2em;
  padding-left: 0.3em;
}

div.adaptive_case_progress_container .adaptive_case_progress_active {
  font-style: italic;
}

div.adaptive_case_progress_container ul {
  margin-bottom: 0;
}

li.adaptive_case_progress_finished {
  text-decoration: line-through;
  color: green;
}

.adaptive_case_badge.adaptive_case_badge_finished img {
  max-width: 100px;
}

body.node-type-adaptive-case {
  background: #eee;
}

.node-adaptive-case {
  font-family: Poppins;
  line-height: 2em;
  font-size: 15px;
  background: white;
  padding: 2em;
  text-align: left;
}

.node-adaptive-case #closedquestion-get-form-for {
  /*padding: 2em;*/
  text-align: left;
  /* background:white; */
  border-radius: 3px;
}

.node-adaptive-case .book-navigation, #page-title {
  display: none;
}


/*Settings for score bar */
.node-adaptive-case #adaptive_case_timer {
  font-family: Poppins;
  font-size: 16px;
}

.adaptive_case_container {
  border: 0;
  border: 1px solid gray;
  /*  background:white !important;*/
  box-shadow: grey 3px 3px 0px;
}


.adaptive_case_answer_message img {
  max-width: 60px;
}


/*Settings for the in-case navigation*/
.adaptive_case_navigation_wrapper {
  text-align: left;
  background: #fff699;
  border: 1px solid #d7b705 !important;
  border-radius: 3px 3px;
  box-shadow: #d7b705 3px 3px 0px !important;
  box-sizing: border-box;
  font-size: 14px;
  padding: 1em !important;
}

.adaptive_case_navigation_wrapper a:hover {
  text-decoration: underline;
}

/* Settings for question element*/
.node-adaptive-case #edit-questiontext {
  margin: 3em 0 3em 0;
}

/* Settings for feedback element*/
.node-adaptive-case .cq_error legend, .node-adaptive-case .cq_correct legend, .node-adaptive-case .cq-feedback-wrapper .alert-box.success {
  display: none;
}

.node-adaptive-case fieldset.collapsible legend {
  display: block;
}

.node-adaptive-case .cq_error, .node-adaptive-case .cq_correct {
  padding: 1em;
  border-radius: 3px 3px;
}

.node-adaptive-case .cq_error {
  background: #fff2f3;
  border: 1px solid #b73939 !important;
  box-shadow: #b73939 3px 3px 0px;
}

.node-adaptive-case .cq_correct {
  background: #ecfff3;
  border: 1px solid #008000 !important;
  box-shadow: #008000 3px 3px 0px;
}

.adaptive_case_score {
  border: 0;
  margin: 0;
  padding: 0;
}

/*Settings for CQ Submit and CQ Reset button*/
.node-adaptive-case #edit-submit {
  background-color: #0095de;
  border: 1px solid #00669b;
  box-shadow: #00669b 3px 3px 0px;
  vertical-align: top;
  margin-right: 19px;
}

.node-adaptive-case #edit-submit:hover {
  background-color: #00669b;
  box-shadow: 0 0 0;
  margin: 3px 16px 3px 3px;
}

.node-adaptive-case #edit-reset {
  background-color: #e30613;
  border: 1px solid #b73939;
  box-shadow: #b73939 3px 3px 0px;
  vertical-align: top;
  margin-right: 19px;
}

.node-adaptive-case #edit-reset:hover {
  background-color: #b73939;
  box-shadow: 0 0 0;
  margin: 3px 16px 3px 3px;
}

.node-adaptive-case #edit-reset, #edit-submit {
  transition: box-shadow margin 300ms ease-out;
  transition-property: box-shadow margin;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.node-adaptive-case button {
  margin-right: 13px;
}

.adaptive_case_container table td {
  padding: 0;
}

.adaptive_case_container table td.adaptive_case_badges {
  text-align: right;
}

.adaptive_case_badge_container {
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  margin-right: 32px;
}

body.node-type-adaptive-case footer.row {
  background: #eee;
  border: 0 !important;
  max-width: 62.5em;
  padding: 0;
}

body.node-type-adaptive-case footer .footer.large-12.columns {
  text-align: right;
}

body.node-type-adaptive-case .button.small.btn-logout {
  background: transparent;
  color: gray;
  text-decoration: underline;
  border: 0 !important;
  box-shadow: none;
}

.adaptive_case_question_list {
  max-height: 350px;
  overflow: auto;

}

.adaptive_case_question_list p {
  margin-left: 1em;
  margin-bottom: 0;
  display: list-item;
  list-style-type: '- '
}

.adaptive_case_practice_questions_header {
  font-family: 'Poppins';
}

.node-adaptive-case .node-closedquestion .node-title {
  display: none;
}

.node-closedquestion #edit-submit.adaptive_case_button_disabled,
.node-closedquestion #edit-reset.adaptive_case_button_disabled {
  background: #ccc;
  border-color: gray;
  box-shadow: gray 3px 3px 0px;
}


/* node/%/structure page */
.adaptive_case_structure_goal_header {
  font-size: 14pt;
  font-weight: bold;
}

.adaptive_case_structure_subgoals_header {
  font-weight: normal;
}

.adaptive_case_structure_question {
  font-size: 12pt;
  font-weight: normal;
}

textarea.adaptive_case_questions_xml{
  width: 100%;
  height: 500px;
  font-family: 'Courier New', Courier, monospace;
}
