.ief-entity-table {
  border: 1px solid #eee;
}

.ief-entity-table thead,
.ief-entity-table td.inline-entity-form-node-status{
  display: none;
}

.adaptive_case_form_disabled {
  color: gray !important;
}

.adaptive_case_form_disabled .adaptive_case_form_highlighted {
  color: black !important;
}

.adaptive_case_form_disabled .form-submit {
  opacity: 0.5;
}

.adaptive_case_form_disabled .adaptive_case_form_highlighted table.ief-entity-table {
  color: inherit !important;
  background: white !important;
}

.adaptive_case_form_disabled .adaptive_case_form_highlighted .form-submit{
  opacity: 1;
}

#edit-group_sub_goals legend, #edit-group_questions legend {
  display: none !important;}

#edit-group_sub_goals, #edit-group_questions  {
  border: 0;
  padding: 0;
  margin-top: -8px;
  margin-bottom:0;
}

#edit-group_questions {
  border: solid 1px #ddd;
  border-top-width: 3px;
  box-shadow: 0px -3px 0 #0074BD;
  padding: 12px;
}

div.vertical-tabs .vertical-tabs-panes {
  margin: 0 0 0 200px;
}
div.vertical-tabs .vertical-tabs-list {
  width:200px;
}

div.vertical-tabs {
  background-position: -40px;
}

.tabledrag-toggle-weight-wrapper {
  display: none;
}

.adaptive_case_form_highlighted fieldset, .adaptive_case_form_disabled fieldset {
  background:white;
  margin-bottom: 0;
}

.vertical-tabs-pane .fieldset-wrapper > div:first-child {
  padding:0;
  margin-bottom:0;
}

.adaptive_case_form_disabled .ief-form-row, .adaptive_case_form_highlighted .ief-form-row {
  border: 0 !important;
}
.inline-entity-form-node-title.adaptive_case_processed_title {
  display: none;
}
td:empty {
  display: none;
}

div.vertical-tabs .vertical-tabs-panes {
  padding: 10px 0px 0px 0px;
}
/*.field-group-tabs-wrapper.group-tabs.field-group-tabs {*/
/*  display: none;*/
/*}*/
div.vertical-tabs .vertical-tabs-pane ul li.first a {
  border-top: 0;
  }

#edit-group_sub_goals fieldset.form-wrapper {
  padding-top: 3px;
  border: 0px;
}

#edit-group_questions {
  padding-top: 0px;
  border: 0;
}
